h1 {

    text-align: center;
}
#selected-pokemon {

    display: flex;
    padding: 30px;

}


#selected-pokemon :hover {

    background-color: grey;
}


.card {

    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: #FFDE00;
    width: 200px;
   
}

h2 {

    text-align: center;
    margin: 100px 200px;
}


#selected-pokemon {
    display: flex;
}

.submitDiv {

    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: brown;
    width: 200px;
    
}

h4 {

    color: #FFFFFF;
}

#submitted-form {

    padding: 30px;    

}

#info-container {

    border: 2px solid black;
    margin: 0 auto;
    padding: 50px;
    width: 600px;
    border-radius: 20px;
}